@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: hsl(233, 47%, 7%);
  Font size: 15px;
}

.sectall {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  height: auto;
  z-index: 1;
  border-radius: 15px;
  background-color: hsl(244, 38%, 16%);
  overflow: hidden;
  clear: both;
}

.mainbox {
  left: 35px;
}

.image {
  width: 330px;
  height: 240px;
  background-image: url("image-header-mobile.jpg");
  background-size: contain;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.image:after {
  width: 330px;
  height: 240px;
  content: " ";
  background-color: hsl(277, 64%, 61%);
  background-size: contain;
  border-radius: 15px 15px 0 0;
  position: absolute;
  opacity: .45;
}

.paragbox {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  margin-left: 35px;
  margin-right: 34px;
  margin-bottom: 42px;
}

.mainhead, .mainparag, .mainlist {
  text-align: center;
  align-items: center;
}

.mainhead h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
  font-weight: 700;
}

.mainhead span {
  color: hsl(277, 64%, 61%);
}

.mainparag p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca";
  font-weight: 400;
  line-height: 2;
}

.mainlist {}

.infocard {}

.infocard h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
  font-weight: 700;
}

.infocard span {
  color: hsl(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca";
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 981px) {
  .sectall {
    width: 1110px;
    height: 450px;
  
  }

  .mainbox {}

  .image {
    width: 542px;
    height: 448px;
    float: right;
    border-radius:  0;
    background-image: url("image-header-desktop.jpg");
  }

  .image:after {
    width: 542px;
    height: 448px;
  }

  .mainhead, .mainparag, .mainlist {
    display: flex;
    flex-direction: row;

    text-align: left;
  }

  .paragbox{
    margin-left: 74px;
  }

  .mainhead{
    letter-spacing: 1px;
    line-height: 2px;
    margin-right: 125px;

  }
  .mainparag{
    margin-top:14px;
    margin-right: 128px;}

.infocard{
  margin-top:26px;
    margin-right: 45px;
    justify-content: space-between;
}

}
