* {
  margin: 0;
  padding: 0;
}

.all-boxes {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.main-box {
  width: 20%;
  height: auto;
  border: 1px solid red;
}

.inside-box {
  border: 1px solid blue;
}

.image-logo {
  width: 15%;
  height: auto;
}

.parag-box {}

.main-parag {}

.button-box {}

.main-button {}

.sec1 {}

.sec2, .sec3 {}

.box1 {
  background-color: #e38525;
}

.box2 {
  background-color: #016871;
}

.box3 {
  background-color: #003f3e;
}

.img1, .img2, .img3 {}

.parag1, .parag2, .parag3 {}

.but1, .but2, .but3 {}
