@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');

/*
@font-face {
  font-family: "Big Shoulders Display";
  src: url("./assets/fonts/BigShouldersDisplay-Regular.tff") format('truetype');
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./assets/fonts/LexendDeca-Regular.tff") format('truetype');
}*/
* {
  margin: 0;
  padding: 0;
}

.all-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1548px;
  background-color: hsl(0, 0%, 95%);
  margin: auto;
}

.inside-box {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 443px;
  width: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.box1 {
  border-radius: 5.5px 5.5px 0 0;
  background-color: hsl(31, 77%, 52%);
}

.box2 {
  background-color: hsl(184, 100%, 22%);
}

.box3 {
  border-radius: 0 0 5.5px 5.5px;
  background-color: hsl(179, 100%, 13%);
}

/* image sections */
.img-box {
  width: auto;
  height: auto;
  margin-top: 48px;
  margin-bottom: 40px;
  margin-left: 49px;
}

/*
.circle {
  height: 51px;
  width: 51px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}

.cir1 {
  background-color: #b46b1e;
}

.cir2 {
  background-color: #02555b;
}

.cir3 {
  background-color: #023433;
}

.img-circle {
  margin-left: 22px;
  display: inline-block;
  z-index: 1;

}*/
.img1 {}

.img2 {}

.img3 {}

/* image sections */
.mainheader {
  width: auto;
  height: auto;
  margin-left: 49px;
  margin-bottom: 40px;
}

.mainheader h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 4px;
}

.parag-box {
  height: 227px;
  width: 228px;
  position: relative;
  color: #fff;
  margin-bottom: 40px;
  margin-left: 49px;
}

.main-parag {
  line-height: 1.4;
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}

/* buttom sections  */
.button-box {
  width: auto;
  height: auto;
  position: relative;
  margin-bottom: 51px;
  margin-left: 49px;
}

.main-button {
  width: 148px;
  height: 50px;
  border-radius: 50px;
  border: none;
  text-transform: capitalize;
  font-size: 15px;
  color: hsl(0, 0%, 95%);
  Weights: 400;
  font-family: 'Lexend Deca';
  line-height: 1;
  letter-spacing: 1px;
}

.but1 {
  color: #e38525;
}

.but1 :hover {
  background-color: #e38525;
  color: #ffff;
  position: relative;
  border: 1px solid #fff;
}

.but2 {
  color: #016871;
}

.but2 :hover {
  background-color: #016871;
  color: #ffff;
  position: relative;
  border: 1px solid #fff;
}

.but3 {
  color: #003f3e;
}

.but3 :hover {
  background-color: #003f3e;
  color: #ffff;
  position: relative;
  border: 1px solid #fff;
}

/* buttom sections  */


@media screen and (min-width: 981px) {
  .all-boxes {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;

  }

  .main-box {
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;

  }

  .inside-box {
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
    bottom: 0;
  }

  .box1 {
    border-radius: 5.5px 0 0 5.5px;
  }

  .box3 {
    border-radius: 0 5.5px 5.5px 0;
  }
}
